
<section class="contentPage">
    <h1 class="error__title">401</h1>
    <div class="contentWrap">
        <div class="errorBody">
            <h2 class="error__h2"><strong>UNAUTHORIZED</strong></h2>
            <hr>
            <p class="contentPage__h3">Your access is denied due to invalid credentials.  You do not have permission to view this directory or page using the credentials that you supplied.</p>
            <p>You can navigate back to the store by clicking <a href="#">here</a>.</p>
        </div>
    </div>          
</section>
