
<section class="contentPage">
    <h1 class="error__title">404</h1>
    <div class="contentWrap">
        <div class="errorBody">
            <h2 class="error__h2"><strong>Looking for Something?</strong></h2>
            <hr>
            <p class="contentPage__h3">That's "404: File not found" for the technically inclined.</p>
            <p>For the not-so-technically inclined, that means that the link you clicked, or the URL you typed into your browser, didn't work for some reason. Here are some possible reasons why:</p>
            <ol>
                <li>We have a "bad" link floating out there and you were unlucky enough to click it.</li>
                <li>You may have typed the page address incorrectly.</li>
                <li>This web server is experiencing technical difficulties.</li>
            </ol>
            <p>You can navigate back to the store by clicking <a href="#">here</a>.</p>
        </div>
    </div>            
</section>
