<!--begin Product Listing Filters-->
<p class="product__label">Filter By</p>
<div class="productFilters clear">
	<span ng-repeat="filter in activeFilters">
		<a ng-if="filter.type === 'dropdown'" class="productFilters__buttons" href="#" ng-click="activateDropdown(filter.showOn)" ng-class="filter.active || !filter.data.length ? 'disabled' : 'none'">{{ filter.active || filter.text}}</a>
		<form class="productSpecial__button" ng-if="filter.type === 'selector'" ng-class="(!filter.count) ? 'disabled' : 'none'">
			<input id="productSpecials" type="checkbox" ng-model="filter.checked" ng-click="filter.set(filter.checked)">
			<label for="productSpecials">{{filter.text}}</label>
		</form>
	</span>
</div>
<!--end Product Listing Filters-->
<!--begin Brand Filter Slide Down-->
<div class="productFilters__reveal" ng-show="activeDropdown === filter.showOn && filter.type === 'dropdown'" ng-repeat="filter in activeFilters">
	<div class="shopCategorySection grid-container">
		<a ng-click="activateDropdown()" class="close-button">×</a>
		<div class="shopCategorySection__list">
			<ul class="columnSpan">
				<li data-ng-repeat="item in filter.data">
					<h5 class="shopBrandSection__vendorName"><a href="#" ng-click="filter.set(item)">{{ ::item[filter.showValue] }}</a></h5>
				</li>
			</ul>
		</div>
	</div>
</div>
<!--end Brand Filter Slide Down-->
<!--begin Filtered Results-->
<div class="filterResults concrete-no-grunge-line">
	<p class="filterResults__list" data-ng-repeat="filter in activeFilters" ng-if="filter.active">{{filter.active}}
		<a class="filterResults__remove" href="#" ng-click="filter.remove(filter)">
			<i class="icon icon-delete-circle"><span class="visuallyhidden">Remove</span></i>
		</a>
	</p>
	<!-- <eu-preloader data="{{!(acceptOnlyServiceCallWithId)}}"></eu-preloader> -->

	<!-- <a class="filterResults__list tiny button" ng-if="showClearButton()" ng-click="restart()">Clear All</a> -->
</div>

<!--end Filtered Results-->