<div class="product__visual noscroll">
	<!--begin discontinued-->
	<div class="top50__rankNumber" ng-if="isTop50"><p>{{$index+1}}</p></div>
	<div class="product__discontinued" ng-show="product.discontinued">Discontinued</div>
	<!--end discontinued-->
	<!--begin New Product icon-->
	<div class="newProduct__icon" ng-show="newProductCheck(product.postdate) === true">
		<img src="lib/img/new.png" alt="">
	</div>
	<!--end New Product icon-->
	<a href="/productdetails?productid={{ ::product.productid }}"><img class="thumbnail__150 product__image" ng-src="{{ ::product.picfile || '' }}" alt=""></a>

	<!--begin Compare Checkbox-->
	<div class="product__compare">
		<form>
			<input id="compare" type="checkbox" ng-model="product.compare" ng-change="changeCompareItems(product);" ng-checked="checkCheckCompareBoxes(product.productid);">
			<label for="compare">Compare</label>
		</form>
		<!--end Compare Checkbox-->
	</div>
</div>
<div class="product__heading">
	<h3 class="product__brand"><a class="product__brand--link" eu-route-reload href="/productlist?type=vendor&id={{ ::product.vendorid }}&name={{ ::product.vendorname }}">{{ ::product.vendorname }}</a></h3>
	<h4 class="product__item"><a class="product__item--link" href="/productdetails?productid={{ ::product.productid }}"> {{ ::product.productname }}</a></h4>
	<p class="product__codes"><span class="product__stockCode">SC: {{ ::product.stockcode }}</span> <span class="product__codesDivide">| </span> UPC: {{ ::product.upc }}</p>
</div>
<div class="product__middle">
	<div class="product__unit">
		<!--begin Out of Stock-->
		<p class="product__out" ng-show="!product.instock">Temporarily out of stock.</p>
		<!--end Out of Stock-->
		<div class="product__unitInfo">
			<p class="product__specify">Size</p>
			<p class="product__option">
				<span ng-if="!product.extendedsize">N/A</span> {{ ::product.extendedsize }}
			</p>
		</div>
		<div class="product__unitInfo mobile__margin--bottom">
			<p class="product__specify">Flavor</p>
			<p class="product__option">
				<span ng-if="!product.flavor">N/A</span> {{ ::product.flavor }}
			</p>
		</div>
	</div>
	<div class="product__desc">
		<p class="product__specify">Description</p>
		<p class="product__text">{{ ::product.productdetails }}</p>
	</div>
</div>
<div class="product__tail">
	<!--begin Specials Box-->
	<!--end Specials Box-->
	<div class="product__price" ng-if="globals.currentUser.authkey">
		<div class="product__special" ng-show="product.special.length">{{ ::product.special }}</div>
		<div class="product__yourPrice">
			<p class="product__yourSpecify">Your Price</p>
			<p class="product__yourAmount"> {{::product.advancedpricing.toFixed(2)}} </p>
		</div>
		<div class="product__otherPrice">
			<p class="product__specify">Wholesale</p>
			<p class="product__otherAmount"> {{ ::product.wholesaleprice.toFixed(2)}} </p>
		</div>
		<div class="product__otherPrice">
			<p class="product__specify">Retail</p>
			<p class="product__otherAmount"> {{ ::product.retailprice.toFixed(2)}} </p>
		</div>
		<div class="product__otherPrice">
			<p class="product__specify">MAP</p>
			<p class="product__otherAmount" ng-if="product.mapprice">{{ ::product.mapprice.toFixed(2) }}</p>
			<p class="product__otherAmount" ng-if="!product.mapprice">N/A</p>
		</div>
	</div>
	<div class="product__price" ng-if="!globals.currentUser.authkey">
		<div class="product__special" ng-show="product.special.length">{{ ::product.special }}</div>
		<div class="product__yourPrice">
			<p class="product__yourSpecify">Your Price</p>
			<p class="product__yourAmount">Members Only</p>
		</div>
		<div class="product__otherPrice">
			<p class="product__specify">Wholesale</p>
			<p class="product__otherAmount"> N/A </p>
		</div>
		<div class="product__otherPrice">
			<p class="product__specify">Retail</p>
			<p class="product__otherAmount"> N/A </p>
		</div>
		<div class="product__otherPrice">
			<p class="product__specify">MAP</p>
			<p class="product__otherAmount"> N/A </p>
		</div>
	</div>
	
	<div class="product__actions">
		<!-- The QTY Field -->
		<div class="product__qty">
			<input type="number" pattern="[0-9]*" min="1" ng-model="product.prodqty" placeholder="Qty">
		</div>
		<div class="product__cta">
			<!-- Add to Cart Logged in -->
			<a zf-open="addtocartModal" class="large button" href="" ng-if="checkAddToCart(globals.currentUser.authkey, product.instock, product.prodqty)" ng-click="addToCart(product);">Add to Cart</a>
			<div zf-modal="cartReview" id="addtocartModal" class="large">
				<!--***************This is the Add to Cart View**************************-->
				<div class="addToModal">
					<div class="addToModal__item">
						<div class="addToModal__itemAdded">
							<h1 class="modal__h1 addToModal__h1"><span class="icon icon-checked-circle"> </span>
							<span class="addToModal__amount">{{ cartItem.qty}} </span>items added to cart</h1>
						</div>
						<div class="addToModal__productInfo">
							<!--begin discontinued-->
							<!-- <div class="product__discontinued">Discontinued</div> -->
							<!--end discontinued-->
							<div class="addToModal__productImage">
								<a href="#">
									<img class="product__image" src="{{::cartItem.pic}}" alt="">
								</a>
							</div>
							<div class="addToModal__productHeading">
								<h3 class="product__brand"><a class="product__brand--link">{{ cartItem.brand }}</a></h3>
								<h4 class="product__item addToModal__productItem"><a class="product__item--link">{{ cartItem.name }}</a></h4>
								<p class="product__codes"><span class="product__stockCode">SC: {{ cartItem.sc }}</span> <span class="product__codesDivide">| </span> UPC: {{ cartItem.upc }}</p>
								<div class="">
									<p class="product__specify addToModal__productSpecify">Size:</p>
									<p class="product__option addToModal__productSpecify">{{ cartItem.extendedsize }}<span ng-if="cartItem.size.length === 0">N/A</span></p>
								</div>
								<div class="">
									<p class="product__specify addToModal__productSpecify">Flavor:</p>
									<p class="product__option addToModal__productSpecify">{{ cartItem.flavor }}<span ng-if="cartItem.flavor.length === 0">N/A</span></p>
								</div>
							</div>
						</div>
					</div>
					<div class="addToModal__total">
						<h2 class="modal__h1 modal__h1Content">Your Cart: &nbsp;<span class="addToModal__totalFloatRight"><span> {{ globals.shoppingCart.CARTINFO[0].itemsincart }}</span> items</span></h2>
						<h2 class="modal__h1 modal__h1Content">Total Cost: &nbsp;<span class="addToModal__cost"><span>{{ globals.shoppingCart.CARTINFO[0].totalprice | currency }}</span></span></h2>
						<div class="addToModal__buttons">
							<a class="expand button" eu-route-reload="/cartlisting" href="/cartlisting" zf-close="addtocartModal" href="">View Cart</a>
							<a class="expand button secondary" href="" zf-close="addtocartModal">Continue Shopping</a>
						</div>
					</div>
				</div>
				<!--***************End add to Cart View************************************-->
			</div>
			<!-- Add to Cart Logged Out -->
			<a class="large button disabled" href="" ng-if="!checkAddToCart(globals.currentUser.authkey, product.instock,product.prodqty)">Add to Cart</a>
		</div>
		<div class="product__ctaAux">
			<a zf-open="product-label" class="product__viewLabel" href="#" ng-click="getNutrition(product.productid)">View Product Label</a>
			<div zf-modal="" id="product-label" class="small">
				<a zf-close="" class="close-button">×</a>
				<!--*********************************This is the Nutrition Detail Modal*********************************-->
				<div class="nutritionFacts productDetails__nutritionFacts">
					<eu-preloader data="{{nutrition.gotData}}">
						<div class="nutritionFacts__outerFrame">
							<h1 class="nutritionFacts__title">Nutrition Facts</h1>
							<!-- <h1 class="nutritionFacts__title">Supplement Facts</h1> -->
							<!-- <h1 class="nutritionFacts__title">Drug Facts</h1> -->
							<p class="nutritionFacts__servingSize">Serving Size <span>{{ ::nutrition.productDetails.servingsize }}</span></p>
							<p class="nutritionFacts__servingsPerContainer">Servings Per Container <span>{{ ::nutrition.productDetails.servingspercontainer }}</span></p>
							<div class="nutritionFacts__borders">
								<h2 class="nutritionFacts__amountPerServing">Amount Per Serving</h2>
								<h3 class="nutritionFacts__dailyValueHeader">% Daily Value*</h3>
								<div class="nutritionFacts__none" ng-if="!nutrition.nutrients[0].success"> No nutrition facts available for this product. </div>
								<div data-ng-repeat="nutrient in nutrition.nutrients" ng-class="{'nutritionFacts__nutrient': nutrient.boldstyle === 0, 'nutritionFacts__nutrient--Bold': nutrient.boldstyle === 1}">
									{{::nutrient.name}}
									<span class="nutritionFacts__nutrientAmount">{{::nutrient.quantity}}
									<span></span>
									</span>
									<span class="nutritionFacts__dailyValue">{{::nutrient.dvpercent}}</span>
								</div>
								<div class="nutritionFacts__nutrient proprietaryBlendPaddingTop">{{ ::nutrition.proprietaryBlends.name }}
									<span class="nutritionFacts__nutrientAmount">
									<span></span>
									</span>
									<span class="nutritionFacts__dailyValue"></span>
									<p class="nutritionFacts__blendDetails" ng-if="nutrition.proprietaryBlends.details">({{ ::nutrition.proprietaryBlends.details }})</p>
								</div>
								<p class="nutritionFacts__statement" ng-if="nutrition.nutrients[0].success">*Percent Daily Values are based on a 2,000 calorie diet. Your daily value may be higher or lower depending on your calorie needs.</p>
								<div ng-if="nutrition.productDetails.ingredients">
									<span class="nutritionFacts__ingredients">Ingredients: </span>
									<span class="nutritionFacts__ingredientsList">{{ ::nutrition.productDetails.ingredients }}.</span>
								</div>
							</div>
						</div>
					</div>
					</eu-preloader>
				</div>
				<!--*********************************End of the Nutrition Detail Modal********************************-->
			</div>
			<!--Add to Wishlist Logged in-->
			<a zf-open="addToWishlistModal" class="product__addWishlist" href="" ng-if="globals.currentUser.authkey" ng-click="addObjToWishList(product);">Add to Wishlist</a>
			<!--Add to Wishlist Logged Out-->
			<a class="product__addWishlist disabled" href="" ng-if="!globals.currentUser.authkey">Add to Wishlist</a>
		</div>
	</div>
</div>